@using SocialNetwork.Core.Application.ViewModels.User;
@model SaveUserViewModel
@{    
    ViewData["Title"] = "Editar perfil";    
}

<div class="container-fluid">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header bg-dark text-light text-center">
                    <h4>Editando mi perfil</h4>
                </div>
                <div class="card-body">                
                    <form method="post" asp-controller="User" asp-action="EditProfile" enctype="multipart/form-data">

                        <div class="mt-2 mb-2">
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        </div>

                        <div class="mb-3">
                            <label asp-for="Name" class="form-label">Nombre: </label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="LastName" class="form-label">Apellido: </label>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Username" class="form-label">Nombre de usuario: </label>
                            <input asp-for="Username" class="form-control" />
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="CurrentPassword" class="form-label">Contraseña actual: </label>
                            <input asp-for="CurrentPassword" class="form-control" />
                        </div>

                        <div class="mb-3">
                            <label asp-for="Password" class="form-label"> Nueva contraseña: </label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="ConfirmPassword" class="form-label">Confirmar contraseña: </label>
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Phone" class="form-label">Telefono: </label>
                            <input asp-for="Phone" class="form-control" />
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Email" class="form-label">Correo: </label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="mb-3 mt-4">
                            <h3>Foto</h3>
                            <label asp-for="File" class="form-label">Seleccione un archivo:</label>
                            <input asp-for="File" class="form-control" />
                        </div>

                        <section style="margin-top:40px;">
                            <h3>(Opcional) Redes sociales</h3>
                            <div class="mb-3">
                                <label asp-for="YouTube" class="form-label">Canal de YouTube: </label>
                                <input asp-for="YouTube" class="form-control" />
                            </div>
                            <div class="mb-3">
                                <label asp-for="Facebook" class="form-label">Perfil de Facebook: </label>
                                <input asp-for="Facebook" class="form-control" />
                            </div>
                            <div class="mb-3">
                                <label asp-for="Instagram" class="form-label">Perfil de Instagram: </label>
                                <input asp-for="Instagram" class="form-control" />
                            </div>
                            <div class="mb-3">
                                <label asp-for="Twitter" class="form-label">Perfil de Twitter: </label>
                                <input asp-for="Twitter" class="form-control" />
                            </div>
                            <div class="mb-3">
                                <label asp-for="GitHub" class="form-label">Perfil de GitHub: </label>
                                <input asp-for="GitHub" class="form-control" />
                            </div>
                            <div class="mb-3">
                                <label asp-for="LinkedIn" class="form-label">Perfil de LinkedIn: </label>
                                <input asp-for="LinkedIn" class="form-control" />
                            </div>
                            <div class="mb-3">
                                <label asp-for="Website" class="form-label">Website personal: </label>
                                <input asp-for="Website" class="form-control" />
                            </div>
                        </section>


                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <a asp-controller="User" asp-action="MyProfile" class="btn btn-warning">Volver atras</a>

                    </form>              
                </div>

            </div>
        </div>
    </div>

</div>

