@using Microsoft.AspNetCore.Http
@using SocialNetwork.Core.Application.Helpers;
@using SocialNetwork.Core.Application.ViewModels.User
@inject IHttpContextAccessor httpContextAccessor
@{
    var User = httpContextAccessor.HttpContext.Session.Get<UserViewModel>("user");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SocialNetwork</title>
    <link rel="stylesheet" href="~/css/styleLayout2.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
</head>
<body>
    <header>
        <nav class="menu__wrapper">
            <div class="logo__wrapper">
                <a href="#"
                   title="Logo"
                   class="logo">
                    <svg height="32" aria-hidden="true" viewBox="0 0 16 16" version="1.1" width="32" data-view-component="true">
                        <path d="M8 0c4.42 0 8 3.58 8 8a8.013 8.013 0 0 1-5.45 7.59c-.4.08-.55-.17-.55-.38 0-.27.01-1.13.01-2.2 0-.75-.25-1.23-.54-1.48 1.78-.2 3.65-.88 3.65-3.95 0-.88-.31-1.59-.82-2.15.08-.2.36-1.02-.08-2.12 0 0-.67-.22-2.2.82-.64-.18-1.32-.27-2-.27-.68 0-1.36.09-2 .27-1.53-1.03-2.2-.82-2.2-.82-.44 1.1-.16 1.92-.08 2.12-.51.56-.82 1.28-.82 2.15 0 3.06 1.86 3.75 3.64 3.95-.23.2-.44.55-.51 1.07-.46.21-1.61.55-2.33-.66-.15-.24-.6-.83-1.23-.82-.67.01-.27.38.01.53.34.19.73.9.82 1.13.16.45.68 1.31 2.69.94 0 .67.01 1.3.01 1.49 0 .21-.15.45-.55.38A7.995 7.995 0 0 1 0 8c0-4.42 3.58-8 8-8Z"></path>
                    </svg>
                </a>
                <a asp-controller="@(User!= null ? "Home" : "User")" asp-action="Index" class="page__title">
                    <h3>SocialNetwork</h3>
                </a>
            </div>
            <div class="action-buttons">
                @if (User != null)
                {
                    <a class="nav-link text-white fw-bold" title="Log Out" asp-area="" asp-controller="User" asp-action="LogOut">
                        <button class="action-button">
                            <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true" class="octicon octicon-issue-opened Button-visual">
                                <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Z"></path>
                                <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0ZM1.5 8a6.5 6.5 0 1 0 13 0 6.5 6.5 0 0 0-13 0Z"></path>
                            </svg>
                        </button>
                    </a>
                    <a asp-controller="User" asp-action="MyProfile" title="My Profile" class="page__title">
                        <img id="avatar-navbar" class="avatar-profile" src="@User.ProfilePicture" alt="Profile">
                    </a>
                    /*<img id="avatar-navbar" class="avatar-profile" src="~/Images/Users/3/3b77205d-3bb3-4e03-b595-437ed1098ccc.jpg" alt="Profile">*/
                }

            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

