@using Microsoft.AspNetCore.Http
@using SocialNetwork.Core.Application.DTOs.Account
@using SocialNetwork.Core.Application.ViewModels.User;
@using SocialNetwork.Core.Application.Helpers;
@model SaveIdentityUserViewModel
@inject IHttpContextAccessor httpContextAccessor
@{
    var User = httpContextAccessor.HttpContext.Session.Get<AuthenticationResponse>("user");
    ViewData["Title"] = "Editar perfil";    
}

<div class="container-fluid">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card mt-3">
                <div class="card-header bg-dark text-light text-center">
                    <h4>Editando mi perfil</h4>
                </div>
                <div class="card-body">                
                    <form method="post" asp-controller="UserIdentity" asp-action="EditProfile" enctype="multipart/form-data">

                        <div class="mt-2 mb-2">
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        </div>

                        <div class="mb-3">
                            <label asp-for="Name" class="form-label">Name: </label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="LastName" class="form-label">Last Name: </label>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Username" class="form-label">Username: </label>
                            <input asp-for="Username" class="form-control" />
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Password" class="form-label"> Nueva contraseña: </label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="ConfirmPassword" class="form-label">Confirmar contraseña: </label>
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Phone" class="form-label">Phone number: </label>
                            <input asp-for="Phone" class="form-control" />
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Email" class="form-label">Email: </label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="mb-3 mt-4">
                            <h3>Foto</h3>
                            <label asp-for="File" class="form-label">Update profile picture:</label>
                            <input asp-for="File" class="form-control" />
                        </div>

                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <a asp-controller="UserIdentity" asp-action="MyProfile" class="btn btn-warning">Volver atras</a>

                    </form>              
                </div>

            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script>
        $(document).ready(function () {
            // Agrega el formato de teléfono de la República Dominicana al campo de teléfono
            $('#Phone').on('input', function () {
                var phoneNumber = $(this).val().replace(/\D/g, ''); // Elimina caracteres no numéricos
                var formattedPhoneNumber = formatPhoneNumber(phoneNumber);
                $(this).val(formattedPhoneNumber);
            });

            // Función para dar formato al número de teléfono (10 dígitos)
            function formatPhoneNumber(phoneNumber) {
                var formattedNumber = phoneNumber.replace(/(\d{3})(\d{3})(\d{4})/, '($1) $2-$3');
                return formattedNumber;
            }
        });
    </script>

</div>

